<% provide(:title, 'Contact') %>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Contact <i class="fa fa-paper-plane-o"></i>
        </h1>
    </div>
</div>

<div class="container">
<p>
  Contact me about this application on my <a href="https://www.linkedin.com/in/lily-kaplan-15b1a558">Linkedin page</a>.
</p>
<p>Reach me via email lekaplan@wesleyan.edu</p>
</div>