<div class="jumbotron jumbotron-fluid">
  
        <h1 class="display-3">Lily Ellis Kaplan</h1>
            <p class="lead"></p>
   
</div>

<section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h1 class="page-header"><span>Where i've been <i class="fa fa-comment-o"></i></span>
                </div>
            </div><!---Row 1--->
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <%=image_tag("bda.jpg", class:"img-circle img-responsive")%>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Bermuda to Boston</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I grew up in Bermuda with my parents, twin sister Hannah, and younger sister Grace, before moving to Lexington, MA</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <%=image_tag("wes_art.jpg", class:"img-circle img-responsive")%>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">Wesleyan University</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I graduated from Wesleyan University in Connnecticut, where I played soccer and studied economics and psychology</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <%=image_tag("nyc.jpg", class:"img-circle img-responsive")%>
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4 class="subheading">New York City</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">I currently live in NYC where I work for Compass, a growth stage real estate startup</p>
                                </div>
                            </div>
                        </li>
                        
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>What
                                    <br>Is
                                    <br>Next!?</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>


