<% provide(:title, 'Resume') %>

<body>
<div class="wrapper">

    <div class="sidebar-wrapper">
        
        <div class="profile-container">
            <%=image_tag("lily.png")%>
                <h1 class="name">Lily Kaplan</h1>
                    <h3 class="tagline">Product Manager @ Compass</h3>
        </div><!--//profile-container-->
            
        <div class="contact-container container-block">
            <ul class="list-unstyled contact-list">
                <li class="email"><i class="fa fa-envelope"></i><a href="mailto: yourname@email.com">lily.ellis.kaplan@gmail.com</a></li>
                <li class="phone"><i class="fa fa-phone"></i><a href="#">781-799-8009</a></li>
                <li class="linkedin"><i class="fa fa-linkedin"></i><a href="https://www.linkedin.com/in/lily-kaplan-15b1a558" target="_blank">linkedin.com/in/lilykaplan</a></li>
                <li class="github"><i class="fa fa-github"></i><a href="https://bitbucket.org/lekaplan/gram_app" target="_blank">github.com/lekaplan</a></li>
             </ul>
        </div><!--//contact-container-->
        
        <div class="education-container container-block">
            <h2 class="container-block-title">Education</h2>
                <div class="item">
                    <h4 class="degree">BA in Psychology</h4>
                        <h5 class="meta">Wesleyan University</h5>
                            <div class="time">2009 - 2013</div>
                </div><!--//item-->
        </div><!--//education-container-->
            
        <div class="volunteer-container container-block">
            <h2 class="container-block-title">Volunteer</h2>
                <ul class="list-unstyled interests-list">
                    <li>Achilles International <span class="lang-desc">Achilles Kids volunteer; 2016 TCS NYC Marathon blind athlete guide</span></li>
                    <li>Girls on the Run<br> <span class="lang-desc">Raised $3K as part of NYC Marathon team</span></li>
                </ul>
        </div><!--//volunteer-->
            
        <div class="interests-container container-block">
            <h2 class="container-block-title">Interests</h2>
                <ul class="list-unstyled interests-list">
                    <li>Running</li>
                    <li>People watching</li>
                    <li>Building things - like this website!</li>
                </ul>
        </div><!--//interests-->
            
    </div><!--//sidebar-wrapper-->
    
   
    
    <div class="main-wrapper">
            
        <section class="section summary-section">
            <h2 class="section-title"><i class="fa fa-user"></i>Summary</h2>
                <div class="summary">
                    <p>I work on the Product team at Compass, a growth-stage real estate technology startup. Prior to Compass, I spent one year in management consulting at CKM Advisors, focusing on leveraging data analytics for technology clients. I have an undergraduate degree from Wesleyan University in Psychology.</p>
                </div><!--//summary-->
        </section><!--//section-->
            
        <section class="section experiences-section">
            <h2 class="section-title"><i class="fa fa-briefcase"></i>Experience</h2>
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Product Manager</h3>
                                <div class="time">2016 - Present</div>
                        </div><!--//upper-row-->
                        <div class="company">Compass, NYC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As Compass' first Product Manager focused on internal tools, I am leading the process to align the business and technology components of our business.</p></p>  
                            <ul class = "bullet">
                                <li>Managed full life-cycle of cross-functional Salesforce implementation</li>
                                <li>Participated in vendor selection, managed day-to-day relationship with external consulting partner, defined requirements, developed user stories, conducted user acceptance testing</li>
                                <li>Delivered solution on-time and witin budget</li>
                            </ul>    
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Finance Operations & Business Development</h3>
                                <div class="time">2014 - 2015</div>
                        </div><!--//upper-row-->
                        <div class="company">Compass, NYC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>As part of the Finance and Business Development teams, I led growth-critical projects, working cross-functionally to to bolster finance operations across 5 new markets and grow online lead acquisition.</p>  
                        <p><i>Business Development</i></p>     
                            <ul class = "bullet">
                                 <li>Developed customer acquisition roadmap, built business case for lead generation, and evaluated pilots to improve customer acquisition through paid channels</li>
                                <li>Designed system infrastructure and managed reporting for customer pipeline representing $66 million in property value across 6 regions</li>
                                <li>Led cross-functional effort with engineering and product teams to implement CRM system and optimize site experience for organic lead generation</li>
                           </ul>
                        <p><i>Finance Operations</i></p>    
                            <ul class = "bullet">
                                <li>Analyzed needs of agent finance team to scale operations to 5 new regions with 700 new agents</li>
                                <li>Created dashboards for real-time monitoring of marketing budgets; selected by executive team as example of how to make effective and rapid impacts to the business</li>
                            </ul>
                    </div><!--//details-->
                </div><!--//item-->
                
                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Consultant</h3>
                                <div class="time">2013 - 2014</div>
                        </div><!--//upper-row-->
                        <div class="company">CKM Advisors, NYC</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>CKM Advisors is a consulting firm focused on using data science and analytics to drive operational improvement for technology and financial services clients.</p>
                        <p><i>Operating Costs Analysis for Large University</i></p>
                            <ul class = "bullet">
                                <li>Conducted financial analysis and developed modeling to measure direct and indirect operating costs of satellite institution</li>
                                <li>Analyzed current structure of financial statements and presented recommendations to university president for restructuring of expense allocations across institutional entities</li>
                            </ul>
                        <p><i>IT Service Management Optimization for Fortune 100 Bank</i></p>
                            <ul class = "bullet">
                                <li>Analyzed IT ticket data and identified savings opportunities, providing recommendations for new system design and implementation</li>
                                <li>Defined requirements, developed design and conducted user testing for dashboard application to monitor onboarding activity, yielding a 50% increase in efficiency of targeted HR responses</li>
                            </ul> 
                    </div><!--//details-->
                </div><!--//item-->
                
        </section><!--//main profile section-->
            
           
        <section class="skills-section section">
            <h2 class="section-title"><i class="fa fa-rocket"></i>Skills &amp; Proficiency</h2>
                <div class="skillset"> 
                
                    <div class="item">
                        <h3 class="level-title">Excel</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="98%"></div> 
                            </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">SQL</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="75%"></div>  
                            </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Javascript</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="55%"></div>
                            </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="50%"></div>
                            </div><!--//level-bar-->                                 
                    </div><!--//item-->
                    
                    <div class="item">
                        <h3 class="level-title">Ruby on Rails</h3>
                            <div class="level-bar">
                                <div class="level-bar-inner" data-level="25%"></div>
                            </div><!--//level-bar-->                                 
                    </div><!--//item-->
                
                </div><!--//skillset-->
       
        </section><!--//skills-section-->

</div><!--//main-wrapper-->
</div>

