<% provide(:title, 'Instagram') %>
<body>
<div class="row">
    <div class="col-lg-12">
        <h1 class="page-header">Instagram <i class="fa fa-instagram"></i>
        </h1>
    </div>
</div>

<div class = "tagged-images-container-position">
    <% @instagram.each do |instagram| %>
    <div><%= instagram.caption.text %></div>
    <% end %>
</div>   

<div class="container" >
<% @gram.each do |instagram| %>
            <div class="col-md-3 single-portfolio col-sm-6">
                <figure class="portfolio-item">
                    <%= image_tag instagram.images.standard_resolution.url,class: "img-responsive"%>
                    <figcaption class="portfolio-details">
                        <p><%= instagram.caption.text %></p>
                    </figcaption>
                </figure>
                <a href="#"><i class="fa fa-comment-o"></i></a>
            </div>
<% end %>
</div>

</body>    



