
<footer class="footer">
  <small>
    The world's simplest application
    by <a href="https://www.linkedin.com/in/lily-kaplan-15b1a558">Lily Kaplan</a>
  </small>
  <nav>
    <ul>
      
      <li><%= link_to "Contact", contact_path %></li>
      <li><a href="https://www.instagram.com/lekaps/">Follow Me  <i class="fa fa-instagram"></i></a></li>
    </ul>
  </nav>
</footer>
