
<nav class="navbar navbar-default navbar-fixed-top">
  <div class="container">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> 
      </button>
      <a class="navbar-brand" href="#"> 
      <%= link_to "LEK", root_path, id: "logo" %>
      </a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll"><%= link_to "About", root_path(:anchor => 'about')%></li>
        <li><%=link_to "Resume", resume_path%></li> 
        <li><%= link_to "Instagram", instagram_path %></li>
      </ul>
    </div>
  </div>
</nav>

