<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css">
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag 'application', media: 'all',
                                           'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>

    <script src="https://code.jquery.com/jquery-1.9.1.min.js"></script>
 
  </head>
  <body>
    <%= render 'layouts/header' %>

      <%= yield %>
      <%= render 'layouts/footer' %>
 
  </body>
</html>